* {
    font-family: Helvetica;
}

header {
    height: 50px;
    background-color: rgb(146, 144, 144);
    align-content: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
h1 {
    text-align: center;
    font-size: 24px;

}

ul {
    text-align: center;
  
    width: 1fr;
}

li {
    background-color: rgb(250, 225, 179);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 1fr;
    display: inline-block;
    margin: 20px;
}

a:hover {
    color: blue;
}